<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <div class="jumbotron">
        <h1>Gotome</h1>
        <p class="lead">멘토링 플랫폼</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/mentees/new">멘티 가입</a>
            <a class="btn btn-lg btn-secondary" href="/mentors/new">멘토 가입</a>
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="/requests">멘토링 요청 목록</a>
            <a class="btn btn-lg btn-primary" href="/requests/new">멘토링 요청 등록</a>
        </p>
    </div>
    <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>